.asset {
    padding: 0 10px 0 0;
}

.modal-add {
    width: 70vw !important;
    padding-bottom: 0;

    &__section {
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 0;

        &__item {
            margin: 0 0 10px 0;
            height: fit-content;
        }
    }

    .title {
        margin: 0;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        word-wrap: break-word;
    }
}